.nav {
float: left;
}

.menunav {
  display: inline-block;
  float: right;
  list-style-type: none;
  padding-right: 8px;
  font-size: 12px;
}

.liste {
   margin-left: 10em;
   margin-top: 4em
}

.sousliste {
  display: inline;
  padding: 0.5em;
 list-style-type: none;
 font-size: 0.8em;
 float: right;
 background: linear-gradient(to bottom, white, #e4ebf9);
}

.sousbarre {
  display: inline;
  padding: 0.5em;
 list-style-type: none;
 font-size: 0.8em;
 float: right;
 background: linear-gradient(to bottom, white, #e4ebf9);
 border: 1px solid grey;
 color: grey;

}


.souslistegauche {
  display: inline;
  float: left;
  padding-right: 5px;
  font-size: 0.9em;
  background: linear-gradient(to bottom, white, #e4ebf9);
}

.nav {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  background-color: #f9f9f9;
  border: #cbf5f0 1px solid;
  border-top: none;

}

.paragraphe {
  margin-left: 11em;
  padding: 1.25em 1.5em 1.5em 1.5em;
  float: left;
}

.titre {
  font-size: 25px;
  text-align: left;
  font-family: sans-serif;;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-family: Nimbus Roman No9 L;
}

.homonymes {
  padding-left: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
  margin-top: -2em;
  margin-right: 63em;
  background: white;
  font-style: italic;
  border-bottom: 1px #aaa solid;
  border-top: 1px #aaa solid;
}

.barre {
  list-style-type: none;
  font-size: 13px;
  background-color: #f9f9f9;
}

.minititre {
  font-size: 0.75em;
  color: #4d4d4d;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0 0.25em 0.25em;
  cursor: default;
  border: none;
  text-align: center;
  background-color: #f9f9f9
}

.case {
  float: left;
}

.head {
position: absolute;
top: 0;
right: 0;
width: 100%;
}

.sommaire {
  margin-left: 13em;
  list-style-type: none;
  font-size: 15px;
  font-family: sans-serif;
  border: 1px solid black;
  display: table;
  background-color: #f9f9f9;
}

.sommaire li {
list-style-type: none;
font-family: sans-serif;
font-size: 13px;
}

.sommairetitre {
  text-align: center;
  font-size: 13px;
}

.section {
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 9em;
}

.tableau {
  float: right;
  width: 250px;
  margin-bottom: 5px;
}

.naruto {
background-color: rgb(51, 102, 153);
color: rgb(255, 255, 255);
text-align: center;
font-size: 140%;
padding-left: 5px;
font-family: DejaVu Sans;
font-weight: bold;
}

.fiction {
  text-align: center;
}

.importanttab {
 font-weight: bold;
 font-size: 90%
}

table {
  border: 1px solid;
  margin-right: 10px;
  height: 50px;
  margin-top: -335px;
  background-color: #f9f9f9;
  display: table;
  font-family: DejaVu Sans;
  font-size: 80%;
}

p {
  width: 70%;
  font-size: 0.875em;
}

td {
  font-size: 0.875em;
}

h2.texte {
  font-size: 1.3em;
  font-family: Nimbus Roman No9 L;
  margin-left: 10em;
  margin-top: 2em;
  border-bottom: 0.5px solid;
  font-weight: normal;
}

.sousparagraphe {
  width: 80%;
  margin-left: 12em;
  padding-left: 5px;
  font-family: DejaVu Sans;
}

.souschapitre {
  font-size: 1.1em;
  margin-left: 10em;
  border-bottom: 0.5px solid;
}

.baschapitre {
  margin-left: 10em;
  border-bottom: 0.5px solid  #FAFAFA;
}

.symbole {
  float: right;
  width: 20%;
}

figcaption {
  font-size: 80%;
  font-style: italic;
  background-color: #f9f9f9
}

.textegauche {
  float: left;
  display: inline
}

a {
  color: #2564d0;
}
